
PACKAGES REQUIRED

cachelib==0.6.0
click==8.0.3
Flask==2.0.2
Flask-QRcode==3.0.0
Flask-Session==0.4.0
Genshi==0.7.5
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==3.2.1
Pillow==9.0.0
PyQRCode==1.2.1
python-dateutil==2.8.2
qrcode==7.3.1
qrcodes==0.1
redirector==0.1.1
six==1.16.0
WebOb==1.8.7
Werkzeug==2.0.2
