
<div class="container rounded bg-white mt-2 pt-2 pb-2">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold"> {{gpd[0][0].upper()}} </span>
                <span class="font-weight-bold"> {{gpd[0][2].upper() + " " + gpd[0][3].upper()}} </span>
                <span class="text-black-50"></span><span> {{gpd[0][6].capitalize()}} </span>
                <br>

                <img width="150px" src='{{ qrcode( gpd[0][2].upper() + " " + gpd[0][3].upper() + " is Vaccinated", border=1) }}' >
            </div>


        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Patient Profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">NHS Number</label><input type="text" class="form-control" placeholder="NHS" value="{{gpd[0][0]}}" readonly></div>
                    <div class="col-md-6"><label class="labels">NHS Number</label><input type="text" class="form-control" placeholder="NHS" value="{{gpd[0][1]}}" readonly></div>
                    <div class="col-md-6"><label class="labels">fname</label><input type="text" class="form-control" placeholder="First name" value="{{gpd[0][2]}}" readonly></div>
                    <div class="col-md-6"><label class="labels">lname</label><input type="text" class="form-control" value="{{gpd[0][3]}}" placeholder="Last name" readonly></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control"  value="{{gpd[0][4]}}" readonly></div>
                    <div class="col-md-12"><label class="labels">Date Of Birth</label><input type="text" class="form-control"  value="{{gpd[0][5]}}" readonly></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control"  value="{{gpd[0][6]}}" readonly></div>
                    <div class="col-md-12"><label class="labels">Gender</label><input type="text" class="form-control"  value="{{gpd[0][7]}}" readonly></div>
                    <br>
                    <br>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" value="{{gpd[0][8]}}" readonly></div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Post code</label><input type="text" class="form-control" value="{{gpd[0][10]}}" readonly></div>
                    <br>
                    <div class="col-md-6"><label class="labels">City</label><input type="text" class="form-control" value="{{gpd[0][9]}}" readonly></div>
                </div>


            </div>
        </div>
        <div class="col-md-4">
            <div class="row mt-3">
                <div class="p-3 py-5 " style="margin-top:15px">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right"></h4>
                </div>
                    <div class="col-md-6"><label class="labels">Blood group</label><input type="text" class="form-control" value="{{gpd[0][11]}}" readonly></div>
                    <br>
                    <div class="col-md-6"><label class="labels">Genotype</label><input type="text" class="form-control" value="{{gpd[0][12]}}" readonly></div>
                    <br>
                    <div class="col-md-12">
                        <label class="labels">Disabilities</label>
                            <textarea class="form-control"  rows="4" cols="30" readonly>{{gpd[0][13]}}</textarea>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Health Issues</label>
                        <textarea class="form-control"  rows="4" cols="30" readonly>{{gpd[0][14]}}</textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Date Added</label><input type="text" class="form-control" value="{{gpd[0][15]}}" readonly></div>
                    <br>
                    <div class="col-md-6"><label class="labels">Status</label><input type="text" class="form-control" value="{{gpd[0][16]}}" readonly></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

