<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>

</head>
<body>
      <div class="nhsuk-banner-render" ></div>

      <h1>
          MEDICATION RECORDS
      </h1>
    <script src="https://api-bridge.azurewebsites.net/banner/banner.js" type="text/javascript" defer="" onload="NHSUKBannerInit()"></script>
<div class="container rounded bg-primary" style="color:white">
    <div class="row text-center">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <span class="font-weight-bold"> MEDICATION ID </span>
                <br>
                <span class="font-weight-bold">  MEDICATION NAME(REASON) </span>
                <br>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <span class="font-weight-bold">  PRESCRIPTION </span>
                <br>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row mt-3">
                <div class="p-3 py-5 " style="margin-top:15px">
                    <div class="d-flex flex-column align-items-center mb-3">
                        <span class="font-weight-bold"> START DATE</span> -
                        <span class="font-weight-bold"> END DATE</span>
                    </div>
                </div>
             </div>
        </div>
        <div class="col-md-2">
            <div class="row mt-3">
                <div class="p-3 py-5 " style="margin-top:15px">
                    <div class="d-flex flex-column align-items-center mb-3">
                        <span class="font-weight-bold"> STATUS </span>
                    </div>
                </div>
            </div>
         </div>
        </div>
</div>
</body>
</html>