{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}">{{ message }}</div>
{% endfor %}

{% include 'includes/patientprofilebasic.html' %}

<div class="container rounded bg-white mt-2 pt-3 pb-3 mb-3">
<form action="/addmedication" method="post">
    <div class="row">
        <div class=" text-md-center mb-2">
            <h2 class="h5 mb-4"> Medications </h2>
        </div>
        <div class="col-md-6 mb-3">
            <div>
                <label for="first_name">Patient NHS NUMBER </label>
                <input class="form-control" name="nhsid" type="text" readonly required value="{{session['medpatientId']}}">
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div>
                <label for="first_name"> FOR?  </label>
                <input class="form-control" name="medname" type="text" placeholder="Reasons for medication" required>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="birthday">Start date</label>
            <div class="input-group">
                <span class="input-group-text">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </span>
                <input data-datepicker="" class="form-control" id="startdate" name="startdate" type="date" placeholder="yyyy/mm/dd" required min={{session['date']}} max="2030-02-20" >
              </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="birthday">End date</label>
            <div class="input-group">
                <span class="input-group-text">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </span>
                <input data-datepicker="" class="form-control" id="enddate" name="enddate" type="date" placeholder="yyyy/mm/dd" required min={{session['date']}} max="2030-02-20">
              </div>
        </div>

        <div class="col-md-12 mb-3">
            <div>
                <label for="last_name">Prescriptions</label>
                <textarea rows="10" cols="50" class="form-control" id="pres" name="pres" type="text" placeholder="Enter Prescriptions" required></textarea>
            </div>
        </div>
        <button class="btn btn-gray-800 mt-2 " type="submit">Add Medication</button>

    </div>
</form>
</div>

{% include 'includes/patientassignmentbasic.html' %}



<!-- Core -->
<script src="/static/assets/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="/static/assets/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="/static/assets/vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- Smooth scroll -->
<script src="/static/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Charts -->
<script src="/static/assets/vendor/chartist/dist/chartist.min.js"></script>
<script src="/static/assets/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Datepicker -->
<script src="/static/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="/static/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="/static/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Notyf -->
<script src="/static/assets/vendor/notyf/notyf.min.js"></script>

<!-- Simplebar -->
<script src="/static/assets/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="/static/assets/js/volt.js"></script>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}