<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 {% include 'includes/profileheader.html' %}

    <title>{{title}}</title></head>
<body>
<div class="container mt-5">

{% if countmedpatients > 0 %}
    <div class=" row ">
        <div class="col-12">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">ADMINISTER MEDICATIONS</h2>
                    <p style="color:red">
                        {% for category, message in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{category}}">{{ message }}</div>
                        {% endfor %}
                    </p>
                <form method="post" action="/usage">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="idtype">Medication ID</label>
                                <select class="form-select mb-0" id="medid" name="medid" aria-label="medid select example" required>
                                    <option disabled hidden>Select Medication</option>
                                    {% for datas in getmedpatients %}
                                        <option value="{{datas[0]}}">{{datas[0]}}</option>
                                    {% endfor %}
                            </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="last_name">Note</label>
                                <textarea rows="10" cols="50" class="form-control" id="note" name="note" type="text" placeholder="Add Notes" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3" style="float:right">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">ADMINISTER</button>
                    </div>
                </form>
            </div>
         </div>
</div>
</div>
{% endif %}

{% include 'includes/recordsbasic.html' %}

</body>
</html>