<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
   <body>
   <br>
      <a href = "\">
      <img src="{{url_for('static', filename='images/home.jpg')}}" /></a>

   <h1>User Account Demo</h1>
      <br><br>
      <h3>Your account:</h3>
      <br><br>
      <table border = "1" cellpadding = "5" cellspacing = "5">
         <thead>
            <td>Username</td>
            <td>Email</td>
         </thead>
         {% for row in rows %}
            <tr>
               {% for data in row %}
                  <td>{{ data }}</td>
               {% endfor %}
            </tr>
         {% endfor %}
      </table>

   </body>
</html>